html,
body{
    height: 100%;
}

.home-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-header {
    margin: 0;
    background-color: rgba(212, 23, 23, 0.64);
}

.site-header a{
    margin: 0;
    text-decoration: none  ;
    color: white;
}

.header-nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.main-content{
    flex: 1;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.home-content__image{
    max-width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
    object-fit: cover;
}

.home-content__button{
    padding: 1em 2em;
    background-color: rgba(212, 23, 23, 0.64);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1em;
    margin: 1em;
}

.site-footer{
    background-color: rgba(212, 23, 23, 0.64);
}

.site-footer p{
    margin: 0;
    text-align: end;
    color: white;
}


.recipes-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.recipe-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    padding: 2em;
}
.recipe-card{
    background-color: rgb(230, 227, 227);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                         "title title"
                         "image image"
                         "ingredients .";
    
    justify-items: center;
    max-width: 300px;
    padding: 1em;
}

.recipe-card__title{
    grid-area: title;
}

.recipe-card__image{
    grid-area: image;
}


.recipe-card__ingredients{
    grid-area: ingredients;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.recipe-card img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}